* {
  margin         : 0;
  padding        : 0;
  list-style     : none;
  text-decoration: none;
  box-sizing     : border-box;

  font-family: 'Poppins';
}

:root {
  --color-primary: #6088F3;
}

main {
  margin   : 0 auto;
  max-width: 1400px;

  display       : flex;
  flex-direction: column;
}

header {
  display        : flex;
  justify-content: center;
  align-items    : center;

  padding-top: 1rem;
}

h1 {
  font-size  : 2rem;
  line-height: 90%;
  color      : #E93E76;
}

h1>span {
  font-family: 'Satisfy';
  font-size  : 1.5rem;
  display    : block;
  color      : rgb(97, 97, 97);
}

.logo {
  background-image : url(../logo.png);
  width            : 7rem;
  height           : 7rem;
  background-repeat: no-repeat;
  background-size  : cover;
}

.profile {
  padding: 1rem;
}

.profile img {
  height       : 20rem;
  float        : right;
  margin-left  : 1rem;
  border-radius: 1rem;
}

.profile p {
  color     : rgb(97, 97, 97);
  font-size : 1.15rem;
  text-align: justify;
}

#products {
  padding: 1rem;
}

.cards {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  gap                  : 1rem;
  justify-content      : space-around;
  align-items          : center;

}

.card {
  background-image   : url(../assets/salgados.jpeg);
  background-position: center;
  background-size    : cover;

  height         : 20rem;
  border-radius  : 1rem;
  display        : flex;
  align-items    : center;
  justify-content: center;
  cursor         : pointer;
  filter         : grayscale(0.5);
  transition     : 0.7s filter;
}

.card:hover {
  filter: grayscale(0);
}

.card:first-child {
  background-image: url(../assets/bolos.jpeg);
}

.card:last-child {
  background-image: url(../assets/doces.jpeg);
}

.title-card {
  cursor         : pointer;
  background     : rgba(161, 161, 161, 0.5);
  border-radius  : inherit;
  width          : 100%;
  height         : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;

  color         : white;
  text-transform: uppercase;
  text-shadow   : #777777 1px 1px;


  font-family: 'Righteous';
  font-size  : 2.5rem;
  font-weight: bold;
  transition : 0.7s background-color, 0.7s color, 0.7s text-shadow;
}

.title-card:hover {
  background : transparent;
  color      : transparent;
  text-shadow: none;
}

.table-price {
  text-align: center;
  margin-top: 1rem;
  font-size : 1.2rem;
  margin-top: 3rem;
}

.btn {
  color           : white;
  padding         : 0.5rem 1.5rem;
  background-color: #ED4C67;
  border-radius   : 0.3rem;

  transition: 0.5s background-color;
}

.btn:hover {
  background-color: #e4345a;
}

.about {
  /* background-color: red; */
  /* height: 15rem; */
}

.redes-sociais,
.about {
  text-align: center;
}

.redes-sociais>h2 {
  padding: 2rem 0;
  color  : #ED4C67;
}

.icons {
  display: flex;
  gap    : 3rem;

  justify-content: center;
  align-items    : center;
}

.icon-rs {
  color    : var(--color-primary);
  font-size: 3rem;

  cursor: pointer;

  text-align: center;
}

.fa-instagram:hover {
  color: #E93E76;

}

.fa-youtube-play:hover {
  color: red;
}

.fa-facebook-square:hover {
  color: #156FE5;
}


.fa-facebook-square:hover,
.fa-youtube-play:hover,
.fa-instagram:hover {
  transition: 0.5s color
}

/************************ 
FOOTER
************************/
footer {
  text-align: center;
  padding   : 2rem 0;
  font-size : 0.85rem;
  color     : #777777;
}

/************************ 
RESPONSIVIDADE
************************/
@media screen and (max-width:730px) {
  .cards {
    display       : flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .profile img {
    float: none;
  }

  .profile p {
    text-align: center;
  }
}